<%= erb :header %>
<% if current_user %>
  <h2>Welcome back <%= current_user.fname %>!</h2>
<% end %>

<<<<<<< HEAD

<div class="container1">
<form class="" action="/user/:id/posts" method="post">
    <input type="text" name="[post]title" value="" maxlength="30" size="32" placeholder="Title"><br>
    <textarea rows="3" cols="50" name="[post]content" placeholder="What's on your mind...">
    </textarea><br>
    <input type="text" style="display:none" name="[post]user_id" value="<%= current_user.id %>">
    <input type="submit" name="" value="Post">
</form>
=======
<div class="container1">
  <form class="" action="/user/:id/posts" method="post">
      <input type="text" name="[post]title" value="" maxlength="30" size="32" placeholder="Title"><br>
      <textarea rows="3" cols="50" name="[post]content" placeholder="What's on your mind...">
      </textarea><br>
      <input type="text" style="display:none" name="[post]user_id" value="<%= current_user.id %>">
      <input type="submit" name="" value="Post">
  </form>
>>>>>>> 542193f9db0de8b263486b05cf8a318bb6bd9efc
</div>
