<%= erb :header %>

<div class="container1">
  <% if current_user %>
    <h2>Welcome back <%= current_user.fname %>!</h2>
  <% end %>
  <form class="" action="/user/:id/posts" method="post">
      <input type="text" name="[post]title" value="" maxlength="30" size="32" placeholder="Title"><br>
      <textarea maxlength="150" rows="6" cols="25" name="[post]content" placeholder="What's on your mind...">
      </textarea><br>
      <input type="text" style="display:none" name="[post]user_id" value="<%= current_user.id %>">
      <input class="inputButton" type="submit" name="" value="Post">
  </form>
</div>
