<nav class="">
  <div class="">
    <ul class="">
      <li class=""><a class="" href="/feed">Feed</a></li>
      <li class=""><a class="" href="/create-post">Create Post</a></li>
      <li class=""><a class="" href="/user/<%= current_user.username %>">Profile</a></li>
    </ul>
</nav>


<form class="" action="/sign-out" method="post">
  <input class="logOutButton" type="submit" name="[post]user_id" value="Log Out">
</form>
