<ul>
  <li><a href="/feed">Feed</a></li>
  <li><a href="/create-post">Create Post</a></li>
<<<<<<< HEAD
  <li><a href="/user/<%= current_user.id %>"> Profile </a></li>
=======
  <li><a href="/user/<%= current_user.username %>">Profile</a></li>
>>>>>>> c102056097997b721b4c853761205de05ead1b49
</ul>


<form class="" action="/sign-out" method="post">
  <input type="submit" name="[post]user_id" value="Log Out">
</form>
