<ul>
  <li><a href="/feed">Feed</a></li>
  <li><a href="/create-post">Create Post</a></li>
</ul>


<form class="" action="/sign-out" method="post">
  <input type="submit" name="[post]user_id" value="Log Out">
</form>
