<nav class="">
<<<<<<< HEAD

 <ul class="">
=======
  <div class="">
    <ul class="">
>>>>>>> 542193f9db0de8b263486b05cf8a318bb6bd9efc
      <li class=""><a class="" href="/feed">Feed</a></li>
      <li class=""><a class="" href="/create-post">Create Post</a></li>
      <li class=""><a class="" href="/user/<%= current_user.username %>">Profile</a></li>
    </ul>
</nav>


<<<<<<< HEAD
  <form class="" action="/sign-out" method="post">
    <input class="logOutButton"type="submit" name="[post]user_id" value="Log Out">
  </form>
=======
<form class="" action="/sign-out" method="post">
  <input class="logOutButton" type="submit" name="[post]user_id" value="Log Out">
</form>
>>>>>>> 542193f9db0de8b263486b05cf8a318bb6bd9efc
