<div class="container1">
  <h2>Login</h2>
  <!-- takes fname and password and posts to sign-in params hash -->
  <form class="" action="sign-in" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input class="inputFont" type="submit" name="" value="Sign In">
  </form>

  <h2>Get Started</h2>

  <form class="" action="/user/new" method="post">
    <div class="form-row">
      <div class="col">
      <input type="text" class="form-control" name="[post]fname" placeholder="First Name">
      </div>
      <div class="col">
    <input type="text" class="form-control" name="[post]lname" placeholder="Last Name">
      </div>
    </div>
    <div class="col">
      <input type="password" class="form-control" name="[post]password" placeholder="Password">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="[post]email" placeholder="Email">
    </div>
    <div class="col">
      <input type="text"  class="form-control" name="[post]username" value="Username">
    </div>
    <div class="col">
      <input class="inputFont" type="submit" name="" value="Submit">
    </div>
  </form>
</div>
