

<h2>l o g i n</h2>
<!-- takes fname and password and posts to sign-in params hash -->
<form class="" action="sign-in" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" name="" value="Sign In">
</form>

<h2>g e t - s t a r t e d</h2>

<form class="" action="/user/new" method="post">
  <input type="text" name="[post]fname" placeholder="First Name">
  <input type="text" name="[post]lname" placeholder="Last Name">
  <input type="text" name="[post]password" placeholder="Password">
  <input type="text" name="[post]email" placeholder="Email">
  <input type="text" name="[post]username" value="Username">
  <input type="submit" name="" value="Submit">
</form>
