<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>m i c r o b l o g</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Cutive+Mono|Nova+Mono|Shadows+Into+Light+Two" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://rawgit.com/wilq32/jqueryrotate/master/jQueryRotate.js" ></script>
  </head>
  <body>
      <%= flash[:notice] if flash[:notice] %>
    <header>
      <h1>Micro Blog</h1>
    </header>
    <div>
      <img id="clickMe" onclick="play()" class="uniImage2" src="/images/unicorn2.png" alt="unicorn">
      <audio id="audio" src="/sounds/magic-chime-06.mp3" ></audio>
    </div>
    <%= yield %>


    <script type="text/javascript" src="/stylesheets/js/script.js">
    </script>
    <script>
      toggle.uniAni();
    </script>

  </body>
</html>
