<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my site</title>
  </head>
  <body>
      <%= flash[:notice] if flash[:notice] %>
    <header>
      <h1>m i c r o - b l o g</h1>
    </header>
    <%= yield %>
  </body>
</html>
