<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>m i c r o b l o g</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Cutive+Mono|Nova+Mono" rel="stylesheet">
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
=======
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">

>>>>>>> 542193f9db0de8b263486b05cf8a318bb6bd9efc
  </head>
  <body>
      <%= flash[:notice] if flash[:notice] %>
    <header>
      <h1>Micro Blog</h1>
    </header>
    <%= yield %>
    <script type="text/javascript" src="/stylesheets/js/script.js">
<<<<<<< HEAD

=======
>>>>>>> 542193f9db0de8b263486b05cf8a318bb6bd9efc
    </script>
  </body>
</html>
