<%= erb :header %>

<div class="container1">
  <% if current_user %>
    <h2>Welcome back <%= current_user.fname %>!</h2>
  <% end %>

<<<<<<< HEAD
 <h2>Create Post</h2>
=======
  <h2>Create New Post</h2>
>>>>>>> f6e8f859fef9435f70a3876eeaa77bc3382cdd91
  <form class="" action="/user/:id/posts" method="post">
      <input type="text" name="[post]title" value="" maxlength="30" size="32" placeholder="Title"><br>
      <textarea rows="3" cols="50" name="[post]content" placeholder="What's on your mind...">
      </textarea><br>
      <input type="text" style="display:none" name="[post]user_id" value="<%= current_user.id %>">
<<<<<<< HEAD
      <input class"inputButton" type="submit" name="" value="Post">
=======
      <input class="inputButton" type="submit" name="" value="Post">
>>>>>>> f6e8f859fef9435f70a3876eeaa77bc3382cdd91
  </form>
</div>
