h2 {
  font-family: 'Nova Mono', monospace;
  font-size: 38px;
  color: black;
  font-style: italic;
  background-color: #9ed6df;
  padding: 5px 5px 5px 20px;
  opacity: 0.8;
  /* text-decoration: underline; */
}

h1 {
  font-family: 'Nova Mono', monospace;
  font-size: 32px;
  font-style: italic;
  background-color: #9ed6df;
  padding: 5px 5px 5px 20px;
  opacity: 0.8;
}

p {
  font-family: 'Cutive Mono', monospace;
  /* font-family: 'Crimson Text', serif; */
  font-size: 22px;
}

li {
  font-family: 'Nova Mono', monospace;
  font-size: 32px;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  box-shadow: 8px 8px 16px #888888;
  padding: 8px;
  border-style: double;
}

.inputButton:hover {
  background-color: #f4f07d;
}

textarea {
  box-shadow: 8px 8px 16px #888888;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  border-style: hidden;
  border-width: thick;
  margin-top: 35px;
  margin-bottom: 10px;
}

.inputFont {
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4f07d;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.9;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    background-color: #f4f07d;
    color: white;
    text-decoration: underline;
}

h2 a:visited {
    color: black;
}

li a:hover {
    background-color: #ed80a6;
}

.logOutButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container1 {
  width: 80%;
  margin: 0 auto;
}

.toggleEditUser {
  display: none;
}

/* Images attributes */
.uniImage1 {
  width: 100%;
  position: fixed;
  top: 15px;
  }

.uniImage2 {
  width: 300px;
  position: fixed;
  bottom: -200px;
  right: -75px;
}

body {
  background: url(/images/unicorn1.png);
  background-size: cover;
}
